<div id="browser-template">
  <app-topnav></app-topnav>
  <div id="template-container">
    <app-category-list></app-category-list>
  </div>
  <div id="footer" class="d-flex justify-content-between align-items-center">
    <div class="logo-icon">
      <img src="../../../assets/img/items/Designpad logo.svg" alt="" />
    </div>
    <div
      style="
        display: flex;
        width: 50%;
        justify-content: space-between;
        font-size: 0.9em;
      "
    >
      <div style="font-size: 1.2em">Contact Us</div>
      <div style="font-size: 1.2em">About Us</div>
      <div>© 2021 Desig pad Privacy Policy Terms and Condition</div>
    </div>
  </div>
</div>
