.search-box {
  border-radius: 30px;
  margin: 5px 10px;
  width: calc(100% - 20px);
}

.textStyle {
  width: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
  margin: 8px 0px;
  padding: 18px 15px;
  border-radius: 4px;
}

.textStyle:hover {
  background: rgba(255, 255, 255, 0.85);
}

.template-item {
  overflow: hidden;
  position: relative;
  cursor: pointer;

  img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.thumbnailCounter {
  right: 4px;
  bottom: 4px;
  color: white;
  font-weight: 600;
  letter-spacing: 1.2px;
  font-size: 10px;
  background-color: rgba(14, 19, 24, 0.7);
  border-radius: 12px;
  padding: 0px 8px;
  transition: opacity 0.5s;
  opacity: 0;
  pointer-events: none;
}
