.panel-footer {
  background-color: #0e1317;
  height: 120px;
  color: white;
}

.about div:nth-child(odd) {
  padding: 0 10px;
}

.divider {
  border: 1px solid white;
  height: 14px;
  padding: 0;
}
