<div class="w-100 panel-footer d-flex align-items-center">
  <div
    class="w-100 h-100 d-flex justify-content-between align-items-center"
    style="padding: 0 3% 0 3%"
  >
    <div class="logo-icon">
      <img src="../../../assets/img/items/Designpad logo.svg" alt="" />
    </div>
    <div>
      <div class="about d-flex align-items-center mb-3">
        <div>Contact Us</div>
        <div class="divider"></div>
        <div>About Us</div>
        <div class="divider"></div>
        <div>Privacy Policy</div>
        <div class="divider"></div>
        <div style="padding-right: 0">Terms and condition</div>
      </div>
      <div style="text-align: right">© 2021, DesignPad</div>
    </div>
  </div>
</div>
